* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier 10 Pitch", sans-serif;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 10rem;
}

main h2 {
    font-size: 3rem ;
    margin-bottom: 4.8rem;
    text-transform: uppercase;
    font-family: "Courier 10 Pitch", sans-serif;
}

nav {
    width: 55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #cccccc;
}

nav a {
    font-size: 2rem;
    font-family: "Courier 10 Pitch", sans-serif;
    color: #cccccc;
    border-bottom: 0.3rem solid transparent;
}

nav a:hover {
    border-color: #3A3845;
}

nav a.active {
    color: #000000;
    border-color: #68B984;
}

form input {
    border: 0.1rem solid #cccccc;
    border-radius: 0.3rem;
    width: 45rem;
    margin: 4rem 0;
    padding: 0.6rem 1rem;
    user-focus: none;
    font-size: 1.6rem;
    letter-spacing: 0.06rem;
    font-weight: bold;
}

form button {
    padding: 0.8rem 2.8rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2.4rem;
    background-color: #68B984;
    color: #ffffff;
}

label {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    color: #3A3845;
    font-weight: bold;
}

ul li {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 50rem;
    min-height: 6rem;
    border-bottom: 0.1rem solid #cccccc;
}

ul li:first-child {
    border-top: 0.1rem solid #cccccc;
}

ul li:hover {
    background-color: #fef2f2;
}

ul li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #D14D72;
}

ul li button {
    padding: 0.6rem 1rem;
    width: 7rem;
    background-color: #D14D72;
    color: #FFF9F9;
    border: none;
    display: inline-block;
    cursor: pointer;
    justify-self: center;
    letter-spacing: 0.1rem;
}